<div class="d-flex justify-content-center align-items-center rodape">
    <div class="conteudo-rodape">
        <p class="footer-top">Dúvidas? Ligue <a class="footer-top-a" href="tel:0800-761-4631">0800-761-4631</a></p>
        <div class="site-footer d-flex">
            <ul class="footer-links"  >
                <li class="footer-link-item">
                    <a class="footer-link" href="https://help.netflix.com/support/412">
                        <span id="">Perguntas frequentes</span>
                    </a>
                </li>
                <li class="footer-link-item" placeholder="footer_responsive_link_help_item"><a class="footer-link"
                        data-uia="footer-link" href="https://help.netflix.com"
                        placeholder="footer_responsive_link_help"><span id="">Centro de
                            ajuda</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_account_item"><a class="footer-link"
                        data-uia="footer-link" href="/youraccount" placeholder="footer_responsive_link_account"><span
                            id="">Conta</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_media_center_item"><a
                        class="footer-link" data-uia="footer-link" href="https://media.netflix.com/"
                        placeholder="footer_responsive_link_media_center"><span id="">Media Center</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_relations_item"><a class="footer-link"
                        data-uia="footer-link" href="http://ir.netflix.com/"
                        placeholder="footer_responsive_link_relations"><span id="">Relações com investidores</span></a>
                </li>
            </ul>

            <ul class="footer-links"  >
                <li class="footer-link-item" placeholder="footer_responsive_link_jobs_item"><a class="footer-link"
                        data-uia="footer-link" href="https://jobs.netflix.com/jobs"
                        placeholder="footer_responsive_link_jobs"><span id="">Carreiras</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_gift_redeem_item"><a
                        class="footer-link" data-uia="footer-link" href="/redeem"
                        placeholder="footer_responsive_link_gift_redeem"><span id="">Resgatar cartão pré-pago</span></a>
                </li>
                <li class="footer-link-item" placeholder="footer_responsive_link_gift_buy_item"><a class="footer-link"
                        data-uia="footer-link" href="/gift-cards" placeholder="footer_responsive_link_gift_buy"><span
                            id="">Comprar cartão pré-pago</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_waysToWatch_item"><a
                        class="footer-link" data-uia="footer-link" href="/watch"
                        placeholder="footer_responsive_link_waysToWatch"><span id="">Formas de assistir</span></a></li>
            </ul>

            <ul class="footer-links"  >
                <li class="footer-link-item" placeholder="footer_responsive_link_terms_item"><a class="footer-link"
                        data-uia="footer-link" href="https://help.netflix.com/legal/termsofuse"
                        placeholder="footer_responsive_link_terms"><span id="">Termos
                            de uso</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_privacy_separate_link_item"><a
                        class="footer-link" data-uia="footer-link" href="https://help.netflix.com/legal/privacy"
                        placeholder="footer_responsive_link_privacy_separate_link"><span id="">Privacidade</span></a>
                </li>
                <li class="footer-link-item" placeholder="footer_responsive_link_cookies_separate_link_item"><a
                        class="footer-link" data-uia="footer-link" href="#"
                        placeholder="footer_responsive_link_cookies_separate_link"><span id="">Preferências de
                            cookies</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_corporate_information_item"><a
                        class="footer-link" data-uia="footer-link" href="https://help.netflix.com/legal/corpinfo"
                        placeholder="footer_responsive_link_corporate_information"><span id="">Informações
                            corporativas</span></a></li>
            </ul>

            <ul class="footer-links"  >
                <li class="footer-link-item" placeholder="footer_responsive_link_contact_us_item"><a class="footer-link"
                        data-uia="footer-link" href="https://help.netflix.com/contactus"
                        placeholder="footer_responsive_link_contact_us"><span id="">Entre em contato</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_speed_test_item"><a class="footer-link"
                        data-uia="footer-link" href="https://fast.com"
                        placeholder="footer_responsive_link_speed_test"><span id="">Teste de velocidade</span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_legal_notices_item"><a
                        class="footer-link" data-uia="footer-link" href="https://help.netflix.com/legal/notices"
                        placeholder="footer_responsive_link_legal_notices"><span id="">Avisos legais</span></a></li>
                <li class="footer-link-item originals-link" placeholder="footer_responsive_link_only_on_netflix_item"><a
                        class="footer-link" data-uia="footer-link" href="https://www.netflix.com/br/browse/genre/839338"
                        placeholder="footer_responsive_link_only_on_netflix"><span id="">Só na Netflix</span></a></li>
            </ul>
        </div>
        <div class="lang-selection-container">
            <div>
                <i class="fa-solid fa-globe icon"></i>
                <select class="options">
                    <option selected="">Português</option>
                </select>
            </div>
        </div>
        <p class="footer-country">Netflix Brasil</p>
    </div>
</div>