ul{
    list-style: none;
}
li{
    padding-bottom: 10px;
    font-size: 14px;
    padding-right: 20px;
}
a:link{
    color: #757575;
    text-decoration: none;
}
a:visited{
    color: #757575;
    text-decoration: none;
}

.rodape{
    height: 400px;
}
.conteudo-rodape{
    width: 1000px;
    color: #757575;
    flex-wrap: wrap;
    margin-top: 50px;
}
.footer-top{
    padding-left: 40px; 
    padding-bottom: 10px;
}
.footer-country{
    padding-left: 40px;
}
.site-footer{
    margin-bottom: 20px;
}
.lang-selection-container{
    display: inline-flex;
    align-items: center;
    justify-items: end;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-right: 5px;
    width: 160px;
    height: 55px;
    border: 1px solid white;
    border-radius: 3px;
}
.icon{
    margin-left: 15px;
    margin-right: 20px;
}
select{
    color: rgb(189, 189, 189); 
    font-weight: 600;
    background-color: transparent;
    border: none;
}
.footer-links{
    list-style: none;
}