.card-container{
  background-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 150%),
  linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 130%),
  url(https://assets.nflxext.com/ffe/siteui/vlv3/ed0b5df9-ba9d-4534-bd09-57993daeda56/52609230-dd78-4dba-82a1-8bb3ac3803e6/BR-pt-20220214-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container .logo{
  width: 180px;
}

.card{
  max-width: 500px;
  background-color: rgb(0, 0, 0, 0.6);
}

.card input{
  background-color: rgb(49, 49, 49);
  border: none;
}

.card input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

.card button{
  background-color: #e50914;
}

.card .form-recurses small, .card .protect-info small{
  color: rgb(155, 153, 153);
}

.card .face-logo{
  width: 20px;
}

.card .protect-info{
  min-height: 190px;
}

.spinner-border{
  height: 25px;
  width: 25px;
}
