.card{
  width: 15rem;
  background-color: #141414;
  color: #fff;
}

.button-Card:first-of-type{
    margin-left: 0;
    background-color: #fff;
    color: #141414;
}

.button-Card{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 5px;
    background-color: transparent;
    color:#fff;
    margin-bottom: 10px;
    text-align: center;
}

.button-Card:last-of-type{
    margin-left: 30px;
}

.movie-Vote{
    margin-right: 10px;
    margin-bottom: 10px;
}

.movie-Runtime{
    margin-left: 10px;
    margin-bottom: 10px;

}

.movie-Rating{
    margin-top: 2px;
    text-align: center;
    border: 1px solid green;
    width:25px;
    background-color: green;
    margin-bottom: 10px;

}

.virgula{
    display: none;
}

.movie-title{
    text-align: center;
    margin-bottom: 10px;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

